include README.rst
include LICENSE.txt
include COPYING
include AUTHORS
include docs/Makefile
recursive-include src *.py
recursive-include tests *.py
recursive-include docs *.rst
recursive-include docs *.py
recursive-include docs *.inc
recursive-include docs/source *.html
recursive-include docs/source *.png
recursive-include src *.svg
recursive-include src *.png
recursive-include src *.po
include src/weresync/resources/locale/weresync.pot